NEXT_PUBLIC_SUPABASE_URL="https://zyaewkmgxsiqfnevcigz.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-supabase-anon-key"
NEXT_PUBLIC_API_URL="http://localhost:8787/api"
NEXT_PUBLIC_IOS_SHORTCUT_URL="https://www.icloud.com/shortcuts/858eec80e10d4a11824fa540743fde44"
